.chat-header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #173B5D;
  color: #FDF9F6;

  ion-avatar {
    margin-right: 10px;
  }

  .chat-header-info {
    h2 {
      margin: 0;
      font-size: 1.2em;
    }

    p {
      margin: 0;
      font-size: 0.9em;
      color: #FDF9F6;
    }
  }
}

.messages {
  padding: 10px;

  .message {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    word-wrap: break-word;

    &.received {
      align-self: flex-start;
      background-color: #FDF9F6;
      color: #173B5D;
      margin-right: auto;
    }

    &.sent {
      align-self: flex-end;
      background-color: #FDF9F6;
      color: #173B5D;
      margin-left: auto;
    }

    .time {
      align-self: flex-end;
      font-size: 0.8em;
      color: grey;
    }
  }
}

.message-input {
  display: flex;
  padding: 10px;

  ion-input {
    flex: 1;
    margin-right: 10px;
    background-color: #FDF9F6;
    color: #173B5D;
    border-radius: 10px;
  }
}
