<ion-header>
    <ion-toolbar>
        <div class="chat-header">
            <ion-avatar slot="start">
                <img src="./assets/images/tex.jpg" alt="Silhouette of Tex's head" />
            </ion-avatar>
            <div class="chat-header-info">
                <h2>Tex</h2>
                <p>Online</p>
            </div>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="messages">
        <div *ngFor="let message of messages" [ngClass]="{'message': true, 'received': message.type === 'received', 'sent': message.type === 'sent'}">
            <p>{{ message.text }}</p>
            <span class="time">{{ message.time }}</span>
        </div>
    </div>
</ion-content>

<ion-footer>
    <div class="message-input">
        <ion-input [(ngModel)]="messageToSend" placeholder="Fale com a Tex"></ion-input>
        <ion-button (click)="sendMessage()">
            <ion-icon slot="icon-only" name="send"></ion-icon>
        </ion-button>
    </div>
</ion-footer>
